<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/products">
    <title>Gunhilds Webshop</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/app.service.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.controller.js"></script>

    <script src="app/user/login.module.js"></script>
    <script src="app/user/login.service.js"></script>
    <script src="app/user/login.controller.js"></script>

    <script src="app/product/product.module.js"></script>
    <script src="app/product/product.service.js"></script>
    <script src="app/product/product.controller.js"></script>

    <script src="app/category/category.module.js"></script>
    <script src="app/category/category.service.js"></script>
    <script src="app/category/category.controller.js"></script>

</head>
<body ng-app="app">
<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Gunhilds Webshop</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a class="header-black" ng-click="chosenCategory(0)" href="/">Home</a></li>
            <li uib-dropdown ng-controller="categoryController">
                <a uib-dropdown-toggle>Categories<span class="caret"></span></a>
                <ul uib-dropdown-menu uib-collapse="!isCollapsed" class="dropdown-menu" >
                    <li ng-repeat="category in categories" id="{{category.id}}" ng-click="chosenCategory(category)"  class="list-group-item"><a>{{category.name}}</a></li>
                </ul>
            </li>
            <li><input ng-controller="productController" class="form-control" type="text" placeholder="Search..." ng-model="searchQuery"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="header-black" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a class="header-black" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<div ng-view class="container" style="margin-top: 51px; margin-bottom: 51px">

</div>
<nav class="navbar navbar-custom navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Gunhilds Webshop</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a class="header-black" href="/">Home</a></li>
            <li><a class="header-black" href="#">Page 1</a></li>
            <li><a class="header-black" href="#">Page 2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="header-black" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a class="header-black" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
</body>
</html>