<div class="col-md-8 col-md-offset-2">
    <table class="table table-stripped ">
        <thead>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in productsByCategory">
            <td><img class="template" ng-src="{{product.imageUrl}}"></td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td><button ng-click="addToCart(product.id)">Add to cart</button></td>
        </tr>
        </tbody>
    </table>
</div>